//Primary Colors
$dark-Blue: hsl(233, 26%, 24%);
$lime-Green: hsl(136, 65%, 51%);
$bright-Cyan: hsl(192, 70%, 51%);

//Neutral Colors
$grayish-Blue: hsl(233, 8%, 62%);
$light-Grayish-Blue: hsl(220, 16%, 96%);
$very-Light-Gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);


//Font Sizes
$font-small: 0.875rem; //14px
$font-medium: 1.125rem; //18px
$font-large: 1.25rem;
$font-xlrg: 3.25rem;

